<!-- Navbar -->
<nav
	class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- Container wrapper -->
	<div
		class="container">
		<!-- Navbar brand -->
		<a class="navbar-brand me-2" href="/">
			<img src="/assets/images/LBO.jpg" " height=" 16" alt=" mdb Logo" loading=" lazy" style=" margin-top: -1px;width:50px;height:40px;"/>
						</a>
				
						<!-- Toggle button -->
						<button class=" navbar-toggler" type=" button" data-mdb-toggle=" collapse" data-mdb-target=" #navbarButtonsExample" aria-controls=" navbarButtonsExample" aria-expanded=" false" aria-label=" toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div>
			class="collapse navbar-collapse" id="navbarButtonsExample">
			<!-- Left links -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Service</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#whychooseus">Why chosse us?</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">FAQ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
			<!-- Left links -->


			{% if app.user %}
				<div class="d-flex align-items-center">
					<a href={{ path('app_logout') }} type="button" class="btn text-white me-3" style="background-color:#1A237E">
						logout
					</a>

					<a href={{ path('profile_orders') }} type="button" class="btn text-white e-3m" style="background-color:#1A237E">
						Account
					</a>


				{% else %}
					<a href={{ path('app_login') }} type="button" class="btn text-white me-3" style="background-color:#1A237E">
						Sign In
					</a>

					<a href={{ path('app_register') }} type="button" class="btn text-white me-3" style="background-color:#1A237E">
						Sign Up
					</a>
				{% endif %}


			</div>
			<!-- Collapsible wrapper -->
		</div>
		<!-- Container wrapper -->
	</nav>
</div>

	<!-- Navbar -->
