{% extends 'base.html.twig' %} {% block body %} 
{% include "_partials/_header.html.twig" %}
<section class="section p-0 m-0">
  <div class="text-center mb-5"></div>
  <div class="row gx-5 justify-content-center" >
    <div class="col-lg-11 col-xl-9 col-xxl-8 " >
      <div class="d-grid p-12 gap-3 mb-3">
        <h5 class="text text-center">
          <strong  style="color:#1A237E">MORE THAN 859 CLIENTS TRUST US</strong>
        </h5>
        <p class="text text-center">
          DON'T WASTE MONEY AND TIME TO TEST PRODUCTS <br />
          TAKE PRODUCT WINING WITH VIDEOS,DESCRIPTION PHOTOS,CONTACT WHOLESALER
          CREATE ADS AND ENJOY WITH SELLS
        </p>
        <a href="#pricing" class="btn round btn-rounded" style="background-color:#1A237E" type="button">
          <h5 class="text-white" >Check our packs winning products</h5>
        </a>
      </div>

      <div class="row row-cols-1 row-cols-md-4 g-5 ">
        <div class="col ">
          <div class="card  container-fluid w-100" style="width:15rem;">
            <img src="/assets/images/card2.jpg" class="card-img-top " alt="Hollywood Sign on The Hill" />
            <div class="mask">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0 text-center">MORE THAN 25 WHOLESALER</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card  container-fluid w-100" style="width:15rem;">
            <img src="/assets/images/card2.jpg" class="card-img-top" alt="Palm Springs Road" />
            <div class="mask">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0 text-center">WORLD WIDE WINNING PRODUCTs</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card  container-fluid w-100" style="width:15rem;">
            <img src="/assets/images/card3.jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
            <div class="mask">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white text-lowercase mb-0 text-center">VIDEOS/PHOTOS DESCRIPTION 2 AD COPY <br/> ALL YOU NEED TO RUN ADS AND GET SELLS</p><br/>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card container-fluid w-100 " >
            <img src="/assets/images/card1.jpg" class="card-img-top" alt="Skyscrapers" />
            <div class="mask">
              <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0 text-center">MORE THAN 100 WINNING PRODUCTS</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Experience Section-->

      <!-- Education Section-->

      <!-- Divider-->
      <div class="pb-5"></div>
      <!-- Skills Section-->
      <div class="d-grid p-12 gap-3 mb-3">
        <h5 class="text text-center">
          <strong style="color:#1A237E">WHY YOU NEED OUR PLATEFORM TO START WORK ON YOUR ECOMMERCE
            BUSINESS</strong>
        </h5>
        <p class="text text-center text-lowercase">
          EVERY DAY LOT OF ECOMMERCE BUSINESS OWNERS SPEN LOT OF DOLLARS TO FIND
          NEW PRODUCTS TO WORK ON IT AND THAT TAKE MORE BUDGET FROM THEM THAT
          WHY OUR PLATEFORM WORK FOR YOU WE TEST LOT OF PRODUCTS EVERY DAY AND
          WE PUTE IN THE PLATEFORM JUST THE WINING PRODUCTS WITH 1 VIDEO FOR
          EVERY PRODUCT AND MORE THAN 3 PHOTOS , DESCRIPTION AND 2 AD COPY JUST
          PUT THEM IN YOUR STORE AND YOUR ADS AND YOU WILL START HAVE PURCHASE
          IN YOUR STORE
        </p>
      </div>

      <section>
        <!-- Skillset Card-->
        <div class="card shadow border-0 rounded-4 mb-5 rounded-9">
          <img src="/assets/images/carte.jpg" class="card-img-top img-fluid rounded-9" style="height: 400px" />
        </div>
      </section>

      <div class="d-grid p-12 gap-3 mb-3">
        <h5 class="text text-center">
          <strong style="color:#1A237E">ALL SELLERS DIGITAL IN THE WORLD USE OUR PLATEFORM TO SCALE IN
            WINING PRODUCT</strong>
        </h5>
      </div>

      <section id="whychooseus">
        <!-- Skillset Card-->
        <div class="card shadow border-0 rounded-4 mb-5 rounded-9">
          <div class="card-body p-5">
            <!-- Professional skills list-->
            <div class="mb-5">
              <div class="d-flex align-items-center mb-4">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                  <i class="bi bi-tools"></i>
                </div>
                <h3 class="fw-bolder mb-0">
                  <span class="text-gradient d-inline">Why Choose Us?</span>
                </h3>
              </div>
              <div class="row row-cols-1 row-cols-md-3 mb-4">
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                    SEO/SEM Marketing
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                    Statistical Analysis
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                    Web Development
                  </div>
                </div>
              </div>
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                    Network Security
                  </div>
                </div>
                <div class="col mb-4 mb-md-0">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                    Adobe Software Suite
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                    User Interface Design
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
{% include "_partials/_pricing.html.twig" %}
 {% endblock %}