{% extends 'base.html.twig' %}

{% block title %}Liste des produits de la catégorie {{ category.name }}{% endblock %}

{% block body %}



<div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-9 order-2">

            <div class="row">
              <div class="col-md-12 mb-5">
                <div class="d-flex">
                </div>
              </div>
            </div>
            <div class="row mb-5">
            
            
        
              {% for product in products.data %}
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="shop-single.html"><img src="{{asset('assets/images/cloth_2.jpg')}}" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="shop-single.html">Polo Shirt</a></h3>
                    <p class="mb-0">Finding perfect products</p>
                    <p class="text-primary font-weight-bold">$50</p>
                  </div>
                </div>
              </div>
              {% endfor %}

            </div>

            {% set path = 'categories_list' %}
            {% set slug = category.slug %}
            {% set pages = products.pages %}
            {% set currentPage = products.page %}

            {% include "_partials/_pagination.html.twig" %}

          </div>

          <div class="col-md-3 order-1 mb-5 mb-md-0">
            <div class="border p-4 rounded mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
              <ul class="list-unstyled mb-0">

                  {% for category in categories %}
                       <li class="mb-1"><a href="{{ path('categories_list', {slug: category.slug}) }}" class="d-flex"><span>{{ category.name }}</span></a></li>
                  {% endfor %}

              </ul>
            </div>


            </div>
          </div>
        </div>

        
        
        </div>
        
      </div>
</div>

{% endblock %}